@model List<Asignatura>

@{
    ViewData["Title"] = "Información de la Asignatura";
    Layout = "Simple";
}


<strong>Desde la Vista Parcial</strong>

@foreach (var asignatura in Model)
{
    <Partial name= "ObjetoUniversidadSimple" model="asignatura" />
}



<h3><p><i>@ViewBag.Fecha</i></p></h3>